@import './queries';

.home_desc::after{
    z-index: -4;
    content: "";
    position: absolute;
    background-color: #9AC932;
    min-width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 75%);
}

.home_desc{
    height: 35em;
    z-index: 4;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,1fr);
    
        .desc_holder{
            grid-area: 1 / 1 / 7 / 2;
            width: 50%;
            height: 100%;
            justify-self:left;
            color: white;
            padding-left: 4em;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40% 20% 25% ;
            z-index: -2;
        }
          h1{
                @include font-size(3em,2em);
                width:100%;
                margin: 0;
                align-self: end;
                text-align: right;
            }
            h2{
                @include font-size(1.5em,1em);
                width:100%;
                text-align: right; 
              
                margin: 0;
            }
            .button_holder{
                width:100%;
                display: flex;
                justify-content: flex-end;
            }
            button{
                width: 20em;
                height: 4em;
                background-color: #1C82CE;
                color: white;
                position: relative;
                border: 0;
                font-family: 'Montserrat', sans-serif;
            }
            button:active:after {
                top: -4px;
                left: -4px;
            }
            button::after{
                content: "";
                top: -2px;
                left: -2px;
                height: 100%;
                width: 100%;
                align-self: start;
                justify-self: center;
                background-color: #4897D2;
                position: absolute;
                z-index: -5;
            }
          
}

.home_image{
    max-width: 50%;
    min-width: 50%;
    height: 100%;
    z-index: 3;
    grid-area: 1 / 1 / 7 / 2;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: auto;
    box-sizing: border-box;
}

.home_image img{
    padding-left: 5em;
    max-width: 100%;
    min-height: 90%;
    box-sizing: border-box;
    margin-right: auto;
}

