@import './functions';

.employees{
    position: relative;
    width: 95%;
    max-width: 120em;
    max-height: 40em;
    & div{
        background-color: #9AC932;
        @include display-flex( column, center );
        color: white;
        position: relative;

            & img{
                position: absolute;
                right: 0;
                top: -10%;
            }

            & p{
                margin: 0;
                height: 17%;
                @include display-flex( column, center );
                text-align: center;
            }

            & p:nth-child(3){
                font-size: 1.7em;
            }
            & p:nth-child(5){
                font-size: 1.7em;
            }
            & p:nth-child(4){
                font-size: 1.4em;
                color: #1C82CE;
            }
            & p:last-child{
                font-size: 1.3em;
                color: #1C82CE;
            }

            & h1{
                margin: 0;
                height: 30%;
                @include display-flex( column, center );
                text-align: center;
                z-index: 22;
            }


    }
}

.label{
    position: relative;
    width: 100%;
    @include display-flex(row, center);
    margin-bottom: 2em;
    
    .label1{
        position: absolute;
        color: #1C82CE;
        max-height: 100%;
        margin: 0;
        @include font-size(4em, 3em);
        @include display-flex(row, center)
    }
    .label2{
        position: fixed;
        color: #1C82CE;
        height: 100%;
        margin: 0;
        z-index: -21221;
        opacity: 0.25;
        @include font-size(16em, 12em);
        @include display-flex(row, center)
    }
}



@media only screen and (max-width: 901px) {
    .employees{
        @include display-flex(column, space-between);
        height: 120vh;
        & div{
            width: 100%;
            height: 50%;
            margin-bottom: 1em;
        }
    }
    .label{
        height: 8vh;
        min-height: 8em;
    }
}

@media only screen and (min-width: 901px) {
    .employees{
        @include display-flex(row, space-around);
        height: 60vh;
        
        & div{
            width: 40%;
            height: 100%;
        }
    }

    .label{
        height: 25vh;
        min-height: 13em;
    }

}