
@import './functions';

.employees{
    position: relative;
    width: 90%;
    max-width: 120em;
    max-height: 40em;
    & div{
        border: 0.2em solid #9AC932;
        background-color:  white;
        @include display-flex( column, center );
        color: #3F3D56;
        position: relative;
        box-sizing: border-box;

            & img{
                position: absolute;
                right: 0;
                top: -10%;
            }

            & p{
                margin: 0;
                height: 17%;
                @include display-flex( column, center );
                text-align: center;
            }

            & p:nth-child(3){
                font-size: 1.7em;
            }
            & p:nth-child(5){
                font-size: 1.7em;
            }
            & p:nth-child(4){
                font-size: 1.4em;
                color: #1C82CE;
            }
            & p:last-child{
                font-size: 1.3em;
                color: #1C82CE;
            }

            & h1{
                margin: 0;
                height: 30%;
                @include display-flex( column, center );
                text-align: center;
                z-index: 22;
            }


    }
}

.label{
    position: relative;
    width: 100%;
    @include display-flex(row, center);
    margin-bottom: 2em;
    white-space: nowrap;
    
    .label1{
        position: absolute;
        color: #1C82CE;
        max-height: 100%;
        margin: 0;
        @include font-size(4em, 3em);
        @include display-flex(row, center);
    }
    .label2{
        position: fixed;
        color: #1C82CE;
        height: 100%;
        margin: 0;
        z-index: -21221;
        opacity: 0.25;
        @include font-size(16em, 12em);
        @include display-flex(row, center)
    }
}

.form{
    height: 50vh;
    width: 90%;
    max-width: 120em;
    max-height: 40em;
    min-height: 28em;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(10, 1fr) ;
    background-color:#9AC932;
    color: white;

        & h1:nth-child(1){
            align-self: center;
            justify-self: center;
            margin: 0;
            grid-area: 2/ 1/ 3/ 2;
            color: white;
        }

        & input:nth-child(2) {
            width: 90%;
            height: 50%;
            align-self: center;
            justify-self: center;
            grid-area: 3/ 1/ 5/ 2;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }
        & textarea:nth-child(3) {
            width: 90%;
            height: 100%;
            grid-area: 5/ 1/ 9/ 2;
            box-sizing: border-box;
            justify-self: center;
            resize: none;
            font-family: 'Montserrat', sans-serif;

        }
        & input:nth-child(4) {
            width: 20%;
            height: 50%;
            grid-area:9/ 1/ 11/ 2;
            align-self: center;
            justify-self: center;
            border: 0;
            background-color: #1C82CE;
            font-family: 'Montserrat', sans-serif;
            color: white;
        }   
}


@media only screen and (max-width: 901px) {
    .employees{
        @include display-flex(column, space-between);
        height: 120vh;
        & div{
            width: 100%;
            height: 50%;
            margin-bottom: 1em;
        }
    }
    .label{
        height: 8vh;
        min-height: 8em;
    }

    .form{
        margin-bottom:1em;
    }

}

@media only screen and (min-width: 901px) {
    .employees{
        @include display-flex(row, space-between);
        height: 60vh;
        
        & div{
            width: 47%;
            height: 100%;
        }
    }

    .label{
        height: 25vh;
        min-height: 13em;
    }

    .form{
        margin-top:4em;
        margin-bottom:4em;
    }

    .div_and_margin{
        margin-bottom:4em;
    }

}

