@mixin display-flex($direction, $sec) {
    
    @media only screen and (max-width: 700px) {
         display: flex;
         justify-content: $sec;
         align-items: center;
         flex-direction: $direction; 
   }
   @media only screen and (min-width:700px) {
         display: flex;
         justify-content: $sec;
         align-items: center;
         flex-direction: $direction;
     }
 }


 @mixin font-size($font, $font2){
    @media only screen and (max-width: 900px) {
        font-size: $font2
  }
    @media only screen and (min-width:900px) {
       font-size: $font
    }
 }


 @media only screen and (max-width: 901px) {
    .home_desc{
        height: 100vh;
        min-height: 40em;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .desc_holder{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100%;
        max-width: 100%;
        text-align: center;
        justify-self: center;
    }
    .empty_sticker::before{
       display: none;
    }
    .home_image{
        grid-area: 2 / 1 / 3 / 2;
    }

    .home_image img{
        height: 100%;
      }

    .offers{
        padding: 0;
    }

    .button_holder{
        justify-content:  center;
    }

   
}

@media only screen and (min-width: 901px) {
    .home_desc{
        height: 85vh;
        min-height: 32em;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;  
    }
    .desc_holder{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100%;
        max-width: 100%;
        text-align: left;
        justify-self: right;
    }
    .home_image{
        grid-area: 1 / 2 / 2 / 3 ;
    }
    .button_holder{
        justify-content:  flex-start;
    }
    
    .offers{
        padding: 3em 0;
    }

}