@import './functions';

html{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    font-size: 1rem;
}

#root{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    .menu{
        max-width: 100%;
        min-height: 5em;
        height: 15vh;
        padding: 0;
        @include display-flex(row, space-between);
            img{
                width: 10em;
                height: auto; 
            }
            ul{
                @include display-flex(row, center);
                min-width: 32em;
                height: 100%;
                padding-left: 1em;
                margin:0;
                    li{
                        width: auto;
                        list-style: none;
                        margin: auto;
                       a{
                                text-decoration: none;
                                color: #3F3D56;
                                font-size: 1.2em;
                            }
                    }
            }   
                @import './burger';
    }

    .container{
        @include display-flex(column, center);
        @import './about';
        @import './kontakt';
        @import './oferta';
        @import './home';
        min-height: 100%;
    }

    .footer{
        min-width: 100%;
        min-height: 2em;
        height: auto;
        @include display-flex(row, center);
        @include font-size(0.8em, 0.6em);
        color: white;
        padding:  1em;
        margin: 0;
        background-color: #9AC932;
        text-align: center;

        box-sizing: border-box;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background:#1C82CE;
  }

  @media only screen and (max-width: 901px) {
    .menu{
        & img{
            padding-left: 1em;
        }
        & ul{
            padding-right: 1em;
        }
    }
}

@media only screen and (min-width: 901px) {
    .menu{
        & img{
            padding-left: 3em;
        }
        & ul{
            padding-right: 3em;
        }
    }
}

