html {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 900px) {
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body {
  width: 100%;
  margin: 0;
}

body .menu {
  max-width: 95%;
  min-height: 15vh;
  margin: 0 auto 0 auto;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .menu img {
  width: 10em;
  height: auto;
  padding-left: 1em;
}

body .menu ul {
  min-width: 30em;
}

@media only screen and (max-width: 900px) {
  body .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  body .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .menu ul li {
  min-width: 25%;
  list-style: none;
}

body .menu ul li a {
  text-decoration: none;
  color: #666766;
}

body .menu .burgerek {
  background-color: black;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  min-width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  z-index: 4;
}

body .menu .burgerek li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
}

body .menu .display_off {
  position: fixed;
  left: -55%;
  top: 0;
}

body .menu .display_in {
  position: fixed;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 900px) {
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .container div {
  color: red;
}

body .container div {
  color: green;
}

body .container div {
  color: pink;
}

body .container .home_intro {
  width: 100%;
  height: 40em;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  position: relative;
}

@media only screen and (max-width: 900px) {
  body .container .home_intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  body .container .home_intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .container .home_intro::after {
  content: "";
  position: absolute;
  background-color: #9AC932;
  min-width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 92%, 0 75%);
}

body .container .home_desc {
  text-align: center;
  z-index: 4;
  height: 100%;
  font-size: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
}

body .container .home_desc h1 {
  font-size: 3.5em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 80%;
  margin: 0;
}

body .container .home_desc h2 {
  margin: auto;
  font-size: 1.8m;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 70%;
}

body .container .home_desc button {
  height: 60%;
  width: 14em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #1C82CE;
  color: white;
  position: relative;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

body .container .home_desc button:active:after {
  top: -4px;
  left: -4px;
}

body .container .home_desc button::after {
  content: "";
  top: -2px;
  left: -2px;
  height: 100%;
  width: 14em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #4897D2;
  position: absolute;
  z-index: -5;
}

body .container .home_desc h3 {
  font-size: 4em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
  color: #666766;
  margin: 0;
}

body .container .home_image {
  max-width: 50%;
  max-height: 100%;
  z-index: 3;
}

body .container .home_image img {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */