@import './queries';

html{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body{
    width: 100%;
    margin: 0;
    .menu{
        max-width: 95%;
        min-height: 6em;
        margin: 0 auto 0 auto;
        padding: 0;
        @include display-flex(row, space-between);
            img{
                width: 10em;
                height: auto; 
                padding-left: 2em;
            }
            ul{
                @include display-flex(row, center);
                min-width: 30em;
                    li{
                        min-width: 25%;
                        list-style: none;
                            a{
                                text-decoration: none;
                                color: #666766;
                            }
                    }
            }
            @import './burger';
    }

    .container{
        @include display-flex(column, center);
        @import './about';
        @import './kontakt';
        @import './oferta';
        @import './home';
    }

}




