html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
}

body .menu {
  max-width: 95%;
  min-height: 6em;
  margin: 0 auto 0 auto;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .menu img {
  width: 10em;
  height: auto;
  padding-left: 2em;
}

body .menu ul {
  min-width: 30em;
}

@media only screen and (max-width: 900px) {
  body .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  body .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .menu ul li {
  min-width: 25%;
  list-style: none;
}

body .menu ul li a {
  text-decoration: none;
  color: #666766;
}

body .menu .burgerek {
  background-color: black;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  min-width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  z-index: 99;
}

body .menu .burgerek li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
}

body .menu .display_off {
  position: fixed;
  left: -55%;
  top: 0;
}

body .menu .display_in {
  position: fixed;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 900px) {
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .container div {
  color: red;
}

body .container div {
  color: green;
}

body .container div {
  color: pink;
}

body .container .home_desc::after {
  z-index: -4;
  content: "";
  position: absolute;
  background-color: #9AC932;
  min-width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 92%, 0 75%);
}

body .container .home_desc {
  height: 35em;
  z-index: 4;
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

body .container .home_desc .desc_holder {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 7 / 2;
  width: 50%;
  height: 100%;
  -ms-grid-column-align: left;
      justify-self: left;
  color: white;
  padding-left: 4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 40% 20% 25%;
      grid-template-rows: 40% 20% 25%;
  z-index: -2;
}

body .container .home_desc h1 {
  width: 100%;
  margin: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: right;
}

@media only screen and (max-width: 900px) {
  body .container .home_desc h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .home_desc h1 {
    font-size: 3em;
  }
}

body .container .home_desc h2 {
  width: 100%;
  text-align: right;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  body .container .home_desc h2 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .home_desc h2 {
    font-size: 1.5em;
  }
}

body .container .home_desc .button_holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .container .home_desc button {
  width: 20em;
  height: 4em;
  background-color: #1C82CE;
  color: white;
  position: relative;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

body .container .home_desc button:active:after {
  top: -4px;
  left: -4px;
}

body .container .home_desc button::after {
  content: "";
  top: -2px;
  left: -2px;
  height: 100%;
  width: 100%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #4897D2;
  position: absolute;
  z-index: -5;
}

body .container .home_image {
  max-width: 50%;
  min-width: 50%;
  height: 100%;
  z-index: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 7 / 2;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container .home_image img {
  padding-left: 5em;
  max-width: 100%;
  min-height: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
}
/*# sourceMappingURL=style.css.map */