html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  font-size: 1rem;
}

body {
  width: 100%;
  margin: 0;
  position: relative;
}

body .menu {
  max-width: 95%;
  min-height: 5em;
  height: 15vh;
  margin: 0 auto 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .menu img {
  width: 10em;
  height: auto;
  padding-left: 2em;
}

body .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 30em;
}

body .menu ul li {
  min-width: 25%;
  list-style: none;
}

body .menu ul li a {
  text-decoration: none;
  color: #3F3D56;
}

body .menu .burger {
  margin-right: 2em;
}

body .menu .burgerek {
  background-color: white;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  min-width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  z-index: 99;
}

body .menu .burgerek li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  color: #9AC932;
}

body .menu .burgerek li a {
  color: #9AC932;
}

body .menu .display_off {
  position: fixed;
  left: -55%;
  top: 0;
}

body .menu .display_in {
  position: fixed;
  left: 0;
  top: 0;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .about_us {
  width: 90%;
  max-width: 120em;
  border: 0.2em solid #9AC932;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3F3D56;
  margin: 0;
  position: relative;
}

@media only screen and (max-width: 900px) {
  body .container .about_us {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .about_us {
    font-size: 1.6em;
  }
}

body .container .quotation {
  position: absolute;
  top: -0.5em;
  right: 0;
  font-size: 6em;
  margin: 0;
}

body .container .partners {
  width: 90%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  row-gap: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5em 0 5em 0;
}

body .container .partners img {
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .container .services {
  width: 90%;
  max-width: 120em;
  border: 0.2em solid #9AC932;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3F3D56;
}

@media only screen and (max-width: 900px) {
  body .container .services {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .services {
    font-size: 1.6em;
  }
}

body .container .services:nth-last-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

body .container .services:nth-last-child(1) button {
  margin-top: 2.5em;
  width: 40%;
  height: 3em;
  border: 0;
  background-color: #1C82CE;
  font-family: 'Montserrat', sans-serif;
  color: white;
  -webkit-box-shadow: 5px -5px 0 #3F3D56;
          box-shadow: 5px -5px 0 #3F3D56;
}

body .container .services:nth-last-child(1) button:active {
  -webkit-box-shadow: 5px -5px 0 white;
          box-shadow: 5px -5px 0 white;
  padding-bottom: 5px;
}

body .container .one_of_service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 70%;
  margin: 1.5em;
}

body .container .one_of_service div {
  width: 2.5em;
  height: 2.5em;
  background-color: #9AC932;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

body .container .one_of_service p {
  color: #3F3D56;
  padding: 0 1em 0 1em;
}

@media only screen and (max-width: 900px) {
  body .container .one_of_service p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .one_of_service p {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 901px) {
  body .container .about_us {
    padding: 2em;
  }
  body .container .services {
    padding: 1em;
  }
}

@media only screen and (min-width: 901px) {
  body .container .about_us {
    padding: 3em;
  }
  body .container .services {
    padding: 2em;
  }
}

body .container .employees {
  position: relative;
  width: 90%;
  max-width: 120em;
  max-height: 35em;
}

body .container .employees div {
  border: 0.2em solid #9AC932;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #3F3D56;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container .employees div img {
  position: absolute;
  right: 0;
  top: -10%;
}

body .container .employees div p {
  margin: 0;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body .container .employees div p:nth-child(3) {
  font-size: 1.7em;
}

body .container .employees div p:nth-child(5) {
  font-size: 1.7em;
}

body .container .employees div p:nth-child(4) {
  font-size: 1.4em;
  color: #1C82CE;
}

body .container .employees div p:last-child {
  font-size: 1.3em;
  color: #1C82CE;
}

body .container .employees div h1 {
  margin: 0;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 22;
}

body .container .label {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2em;
  white-space: nowrap;
}

body .container .label .label1 {
  position: absolute;
  color: #1C82CE;
  max-height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 900px) {
  body .container .label .label1 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .label .label1 {
    font-size: 4em;
  }
}

body .container .label .label2 {
  position: fixed;
  color: #1C82CE;
  height: 100%;
  margin: 0;
  z-index: -21221;
  opacity: 0.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 900px) {
  body .container .label .label2 {
    font-size: 12em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .label .label2 {
    font-size: 16em;
  }
}

body .container .form {
  height: 50vh;
  width: 90%;
  max-width: 120em;
  max-height: 40em;
  min-height: 28em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  background-color: #9AC932;
  color: white;
}

body .container .form h1:nth-child(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/ 1/ 3/ 2;
  color: white;
}

body .container .form input:nth-child(2) {
  width: 90%;
  height: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/ 1/ 5/ 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body .container .form textarea:nth-child(3) {
  width: 90%;
  height: 100%;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5/ 1/ 9/ 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column-align: center;
      justify-self: center;
  resize: none;
  font-family: 'Montserrat', sans-serif;
}

body .container .form input:nth-child(4) {
  width: 20%;
  height: 50%;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 9/ 1/ 11/ 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 5px -5px 0 #3F3D56;
          box-shadow: 5px -5px 0 #3F3D56;
  border: 0;
  background-color: #1C82CE;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body .container .form input:nth-child(4):active {
  -webkit-box-shadow: 5px -5px 0 #9AC932;
          box-shadow: 5px -5px 0 #9AC932;
  padding-bottom: 5px;
}

@media only screen and (max-width: 901px) {
  body .container .employees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120vh;
  }
  body .container .employees div {
    width: 100%;
    height: 50%;
    margin-bottom: 1em;
  }
  body .container .label {
    height: 8vh;
    min-height: 8em;
  }
  body .container .form {
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 901px) {
  body .container .employees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50vh;
  }
  body .container .employees div {
    width: 47%;
    height: 100%;
  }
  body .container .label {
    height: 25vh;
    min-height: 13em;
  }
  body .container .form {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  body .container .div_and_margin {
    margin-bottom: 4em;
  }
}

body .container .home_desc {
  z-index: 4;
  width: 100%;
  position: relative;
}

body .container .home_desc .desc_holder {
  width: 100%;
  height: 100%;
  z-index: 7;
  color: white;
  background-color: #9AC932;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container .home_desc .empty_sticker {
  min-width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 8 / 2;
  position: relative;
  z-index: 10;
  background-color: #9AC932;
}

body .container .home_desc .empty_sticker::before {
  content: "";
  height: 100%;
  width: 100%;
  right: -98%;
  z-index: 2;
  -webkit-clip-path: polygon(0 0, 22% 0, 7% 100%, 0 100%);
          clip-path: polygon(0 0, 22% 0, 7% 100%, 0 100%);
  position: absolute;
  background-color: #9AC932;
}

body .container .home_desc h1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  width: 90%;
  margin: 0;
  text-align: center;
  -ms-grid-column-align: inherit;
      justify-self: inherit;
  z-index: 25;
}

@media only screen and (max-width: 900px) {
  body .container .home_desc h1 {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .home_desc h1 {
    font-size: 3.5em;
  }
}

body .container .home_desc h2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
  max-width: 90%;
  width: 90%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: inherit;
      justify-self: inherit;
  margin: 0;
  padding: 1.5em 0;
  font-family: 'Montserrat', sans-serif;
  z-index: 25;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  body .container .home_desc h2 {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .home_desc h2 {
    font-size: 1.5em;
  }
}

body .container .home_desc .button_holder {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: inherit;
  z-index: 25;
}

body .container .home_desc .home_intro_button {
  width: 16em;
  height: 4em;
  background-color: #1C82CE;
  color: white;
  position: relative;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

body .container .home_desc .home_intro_button:active {
  top: -2px;
  right: -2px;
}

body .container .home_desc .home_intro_button::after {
  content: "";
  top: -3px;
  right: -3px;
  height: 100%;
  width: 100%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #3F3D56;
  position: absolute;
  z-index: -5;
}

body .container .home_image {
  max-height: 100%;
  max-width: 100%;
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 1em;
}

body .container .home_image img {
  width: 100%;
  max-width: 100%;
}

body .container .offers {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

body .container .offers .offers_background {
  position: absolute;
  max-height: 40%;
  width: auto;
  bottom: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: rotateY(160deg);
          transform: rotateY(160deg);
}

body .container .offers .dic {
  width: 85%;
  height: auto;
  max-height: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px #3F3D56 solid;
}

body .container .offers .dic_image_container {
  max-height: 90%;
  max-width: 100%;
}

body .container .offers .dicimage {
  max-width: 100%;
  max-height: 20em;
}

body .container .offers .dic h1 {
  height: 7em;
  width: 80%;
  color: #3F3D56;
  font-size: 1.6em;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .container .offers .dic_button_container {
  min-width: 100%;
  height: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .offers .dic_button_container button {
  height: 60%;
  min-width: 60%;
  background-color: #1C82CE;
  color: white;
  position: relative;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

body .container .offers .dic_button_container button::after {
  content: "";
  top: -3px;
  right: -3px;
  height: 100%;
  width: 100%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #3F3D56;
  position: absolute;
  z-index: -5;
}

body .container .offers .dic_button_container button:active {
  top: -2px;
  right: -2px;
}

body .container .offers::before {
  content: "";
}

body .container .map {
  width: 100%;
  position: relative;
  background-color: #1C82CE;
}

body .container .map .locations {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: #9AC932;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 999;
}

body .container .map .locations h1 {
  width: 80%;
  text-align: center;
  min-width: 80%;
  margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
  body .container .map .locations h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .map .locations h1 {
    font-size: 2.6em;
  }
}

body .container .map .locations p {
  width: 80%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  body .container .map .locations p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 900px) {
  body .container .map .locations p {
    font-size: 1.4em;
  }
}

body .container .map .locations::after {
  content: "";
  height: 100%;
  width: 100%;
  right: -98%;
  z-index: 2;
  -webkit-clip-path: polygon(0 0, 22% 0, 7% 100%, 0 100%);
          clip-path: polygon(0 0, 22% 0, 7% 100%, 0 100%);
  position: absolute;
  background-color: #9AC932;
}

body .container .map .leaflet-container {
  height: 100%;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

body .container .location_photo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
}

@media only screen and (max-width: 901px) {
  body .container .home_desc {
    height: 100vh;
    min-height: 40em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 60% 40%;
        grid-template-rows: 60% 40%;
  }
  body .container .desc_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    justify-self: center;
  }
  body .container .empty_sticker::before {
    display: none;
  }
  body .container .home_image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  body .container .home_image img {
    height: 100%;
  }
  body .container .offers {
    padding: 0;
    height: 60vh;
    min-height: 30em;
  }
  body .container .button_holder {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .map {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    height: 50vh;
    min-height: 42em;
  }
  body .container .locations::after {
    display: none;
  }
}

@media only screen and (min-width: 901px) {
  body .container .home_desc {
    height: 85vh;
    min-height: 32em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  body .container .desc_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 100%;
    max-width: 100%;
    text-align: left;
    justify-self: right;
  }
  body .container .home_image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  body .container .button_holder {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .container .offers {
    height: 85vh;
    min-height: 32em;
    padding: 3em 0;
  }
  body .container .map {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    height: 65vh;
    min-height: 32em;
  }
}

body .footer {
  min-width: 100%;
  min-height: 3em;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  margin: 0;
  background-color: #9AC932;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  body .footer {
    font-size: 0.5em;
  }
}

@media only screen and (min-width: 900px) {
  body .footer {
    font-size: 0.7em;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1C82CE;
}
/*# sourceMappingURL=style.css.map */